body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-logo {
  font-weight: bold;
}

.navlink {
  color: white !important;
  text-decoration: none;
  padding: 20px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navlink-hidden {
  color: white !important;
  text-decoration: none;
  padding: 20px;
  display: none;
}

.carousel {
  position: relative;
  width: 550px;
  top: 0px;
}

.display-none{
  animation: fadeOut 1s ease;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.carousel-display-none {
  animation: fadeCarouselOut 1s ease;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes fadeCarouselOut {
  0% {
    opacity: 1;
    top: -100px;
  }
  100% {
    opacity: 0;
  }
}

.display-none-search {
  display: none;
}

.display-search {
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;
}

.background-over {
  background: lavender !important;
  transition: all 1s;
}

.background-under {
  background: pink !important;
  transition: all 1s;
}

.advanced-search-icon {
  color: grey;
}